.container{
    width: 100%;
    margin: 0 auto;
    padding: 16px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
    align-items: stretch;
    min-height: 100%;
    grid-auto-rows: 1fr;
}
.links{
    display: flex;
    justify-content: center;
    gap: 16px;
    color: #81FE88;
    margin-top: 16px;
}
