.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
    align-items: stretch;
    min-height: 100%;
    grid-auto-rows: 1fr;
}
.links{
    display: flex;
    justify-content: center;
    gap: 16px;
    color:
}