.card {
    width: 100%;
    max-width: 460px;
    min-height: 340px;
    border-radius: 8px;
    background: #171D1F;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    border-radius: 8px 8px 0px 0px;
    background: #888;
    padding: 24px;
}

.header figure {
    margin: 0;
}

.header figure img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    box-sizing: border-box;
}

.body {
    color: #BCBCBC;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.body h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    margin: 0;
}

.body p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.footer {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
}
.link{
    text-decoration: none;
    cursor: pointer;
    
}